{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Bewerken{% endblock %}
{% block css %}

{% endblock %}
{% block content %}

<div class="row">	
	<div class="col-lg-12">

    <h1>Bewerk {{title}}</h1>

    <form enctype='multipart/form-data' method="POST" action="." class="form form-item">
     {% csrf_token %}
     {{ form|crispy }}
     <button type="submit" class="btn pull-right btn-success mt-1" name="action"><i class="bi bi-check"></i> Opslaan </button>
   </form>
 </div>
</div>

{% endblock %}

