{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Profiel{% endblock %}
{% block content %}

<div class="row">	
	<div class="col-lg-12">
		<h3>Hey, wie ben jij?</h3>
		<form enctype='multipart/form-data' method="POST" action="." class="form form-item">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn float-end btn-success mt-2" name="action"><i class="bi bi-check"></i> Opslaan </button>
		</form>
		<a class="btn btn-primary mt-2" href="/accounts/password/change/">Change password</a>
	</div>
</div>
{% endblock %}

